.content{
      position: relative;
      padding-bottom:.58rem;
  }
  .bookcontent{
            padding:.1rem .24rem .3rem .24rem;            
            letter-spacing:.01rem; 
            text-align: justify;
            line-height: 2; 
            margin-top:-0.5rem;
            min-height: 5rem;
}
  .f_content{
       text-indent: 2em; 
       margin-top:.2rem;
  }
  .downbtn{
      width:100%;
      height:.58rem;
      background: #fff;
      color:#fff;
      position: fixed;
      bottom:0;
      padding:.12rem;
      text-align: center;
    button {
        width:93%;
        height:.34rem;
        border:0;
        outline: none;
        color:#fff;
        background:#5a89bf; 
        border-radius: 3px; 
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;   
        
    }
  }